.TodoItem {
    font-family: 'Helvetica Neue',
    Arial, 
    Helvetica, 
    sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #4d4d4d;
}

.TodoItem-complete {
    text-decoration: line-through;
    opacity: .5;
}